.reduce-top-space {
    margin-top: -50px;
}

.current-category {
    margin-top: -2px;
    margin-bottom: -2px;
    color: black;
}

.select-class {
    margin-bottom: 15px;
}

.hidden {
    visibility: hidden;
}

.animated-loading-text {
    text-shadow: 5px 5px 0 #ff005e, -5px -5px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, -5px -5px 0 #00d4ff;
    }

    50% {
        text-shadow: -5px -5px 0 #00d4ff, 5px 5px 0 #ff005e;
    }
}